$gta-movil: "cabecera"
            "filtro"
            "principal"
            "pie";
$gtc-movil: 1fr;
$gtr-movil: 56px 100px auto 1fr;


$gta-desktop: "cabecera filtro"
              "cabecera principal"
              "pie principal";
$gtc-desktop: 25fr 75fr;
$gtr-desktop: 200px auto 300px;


$gta-tablet: "cabecera cabecera"
              "filtro principal"
              "pie pie";
$gtc-tablet: 25fr 75fr;
$gtr-tablet: 56px auto 100px;