$gta-movil: "cabecera"
            "filtro"
            "principal"
            "pie";
$gtc-movil: 1fr;
$gtr-movil: 56px 100px auto 1fr;


$gta-desktop: "cabecera filtro"
              "cabecera principal"
              "pie principal";
$gtc-desktop: 25fr 75fr;
$gtr-desktop: 1fr;